/*
 * Scaffolding
 *
 * Update the basics of our documents to prep for docs content.
 */
.container-fluid{
  width: 100%;
  /*margin-top: -50px;*/
  margin-top:0px;
  padding:0;
}
.main { padding: 0; }
.row {margin: 0;}

h1, h2, h3, h4, h5 {
  display: inline;
  margin-top: 12px;
}
body {
  padding-top: 50px;
  background-color: #f2f2f2;
  font-family: "aktiv-grotesk-std", Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #333;
  font-size: 18px;
  line-height: 2em;
  position: relative;
}


/*
 * Page Header
 *
 */
.container-fluid .jumbotron {border-radius: 0;}
.jumbotron{
  padding: 100px 100px;
  background-color: #22b573;
  color: white;
  font-family: "aktiv-grotesk-std", Helvetica, Arial, sans-serif;
  text-align: center;
}
.lead {
  font-size: 2em;
  font-weight: 700;
}
.subtitle {
  font-size: 2em;
  font-weight: 200;
}


/*
 * Content Groups
 *
 */
.content-box {
  background-color: white;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  padding: 50px;
  margin: 50px;
/*  -webkit-box-shadow: 0px 3px 10px 0px rgba(50, 50, 50, 0.1);
  -moz-box-shadow:    0px 3px 10px 0px rgba(50, 50, 50, 0.1);
  box-shadow:         0px 3px 10px 0px rgba(50, 50, 50, 0.1);*/
}
.content-header {
  margin-bottom: 30px;
}
.content-header > h2 {
  font-size: 1.2em;
}


/*
 * Side navigation
 *
 * Scrollspy and affixed enhanced navigation to highlight sections and secondary
 * sections of docs content.
 */
.sidebar {
  font-size: 14px;
  /*height: 100%;*/
  background-color: white ;
  padding: 20px;
  margin: 0;
  border-right: 1px solid #e6e6e6;
}
.sidenav { line-height: 16px; }
.sidenav li > ul > li { padding-left: 20px;}
.sidebar .nav > .active > a,
.sidebar .nav > .active:focus > a {
  font-weight: bold;
  color: #f15a24;
  text-shadow: none;
  border-left: 2px solid #f15a24;
}
.sidebar a {
  color: #808080;
  font-weight: 400;
}


/*
 * Buttons
 *
 */
.btn {
  margin-left: 10px;
}

.btn-white {
  background-color: white;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  color: #808080;
}
.btn-white:hover {
  color: #f15a24;
  border-color: #f15a24;
  -webkit-transition: 500ms;
  -moz-transition: 500ms;
  -o-transition: 500ms;
  transition:  500ms;
}


/*
 * Team
 *
 */
.circular {
  width: 150px;
  height: 150px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10px;
  margin-top: 10px;
}
.teammate {
  text-align: center;
  height: 250px;
}
.teammember {font-weight: 700;}
.teammember:hover {
  color: #f15a24;
  text-decoration: none;
  -webkit-transition: 500ms;
  -moz-transition: 500ms;
  -o-transition: 500ms;
  transition:  500ms;
}
.becky { background: url(../images/becky.jpg) no-repeat; }
.drew { background: url(../images/drew.jpg) no-repeat; }
.kavi { background: url(../images/kavi.jpg) no-repeat; }
.sarah { background: url(../images/sarah.jpg) no-repeat; }
.chris { background: url(../images/chris.jpg) no-repeat; }
.dave { background: url(../images/dave.jpg) no-repeat; }


/*
 * RoyalSlider
 *
 */
.royalSlider {
  width: 100%;
}
.rsDefaultInv,
.rsDefaultInv .rsOverflow,
.rsDefaultInv .rsSlide,
.rsDefaultInv .rsVideoFrameHolder,
.rsDefaultInv .rsThumbs {
  background: #f2f2f2;
  color: #222;
}


/*
 * Inline Stats and Images
 *
 */
 .inline-stat {
  display: block;
  max-width: 400px;
  height: 100%;
  padding: 40px;
  text-align: center;
  color:#4d4d4d;
 }
 .inline-stat .bold {
  font-size: 30px;
  font-weight: 700;
 }
 .inline-stat .light {
  font-size: 16px;
  font-weight: 300;
 }
 .inline-image {
  display: block;
  max-width: 300px;
  margin-top: 10px;
  border-radius: 5px;
 }
img.inline-image.pull-right { margin-left: 20px; }
img.inline-image.pull-left { margin-right: 20px; }


/*
 * GeoJson Map
 *
 */
iframe {
  width: 100% !important;
}


/*
 * MEDIA QUERIES
 *
 */
@media (min-width: 1201px){
}
@media (max-width: 1200px) and (min-width:992px){
}
@media (max-width: 991px) and (min-width:768px){
  .sidebar {display: none;}
}
@media (max-width: 767px){
  .sidebar{display: none;}
  .content-box {
    margin: 10px;
    padding: 30px;
  }
  .jumbotron {
    padding: 80px 30px 80px;
    margin-bottom: 20px;
  }
  .lead {font-size:1.2em;}
  .subtitle {font-size:1.2em;}

}

.navbar-nav>li>a {
  font-size:14px;
  line-height:15px;
}
